.pricechange {
    font-size: small;
}

.pricechange, .totalchange {
    font-style: italic;
}

.pricechange.positive, .totalchange.positive {
    color: forestgreen;
}

.pricechange.negative, .totalchange.negative {
    color: orangered;
}
