<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waarde BTC/ETH</title>
    <link rel="stylesheet" href="/static/btcstyle.css" type="text/css">


    <script type="text/javascript">
    function createKeenWebAutoCollector(){window.keenWebAutoCollector=window.KeenWebAutoCollector.create({projectId:'59f48eb4c9e77c0001aee24a',writeKey:'57121C99D986B3355BCC51956660DE3B7C9BB41460E7C35B7E8F8C9A3BCDF6B566D2C984AB276152F12C35ECF9AFA664146435742C2BD3070F2104981391CCCE42AAE8084C12B356D2FEFCCC52CD4CB908896D8EAA8CB49AEF0EA8B9023A93DD',onloadCallbacks:window.keenWebAutoCollector.onloadCallbacks}),window.keenWebAutoCollector.loaded()}function initKeenWebAutoCollector(){window.keenWebAutoCollector.domReady()?window.createKeenWebAutoCollector():document.addEventListener("readystatechange",function(){window.keenWebAutoCollector.domReady()&&window.createKeenWebAutoCollector()})}window.keenWebAutoCollector={onloadCallbacks:[],onload:function(a){this.onloadCallbacks.push(a)},domReady:function(){return["ready","complete"].indexOf(document.readyState)>-1}};
  </script>
    <script async type="text/javascript" src="https://d26b395fwzu5fz.cloudfront.net/keen-web-autocollector-1.0.8.min.js" onload="initKeenWebAutoCollector()"></script>

</head>
<body>

<div style="width: auto; margin:auto; margin-top: 50px; text-align: center;">

<h2>De waarde van mijn bitcoin is</h2>

    <h1>{{ btcprice }} <span class="pricechange {{ btcdir }}">({{ btcchange }})</span></h1>

<h2>De waarde van mijn ethereum is</h2>

    <h1>{{ ethprice }} <span class="pricechange {{ ethdir }}">({{ ethchange }})</span></h1>


</div>

</body>
</html>
